Repository prrpd/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload-backend-release, upload-frontend-release

.gitlab-ci.yml:

---
stages:
  - build
  - test
  - notify
  - release

include:
  - 'backend/.gitlab-ci.yml'
  - 'frontend/.gitlab-ci.yml'

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/**/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - >
      mvn deploy -DskipTests
      -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
      -s settings.xml -Dversion.application=${VERSION}

upload-frontend-release:
  stage: release
  only:
    changes:
      - frontend/**/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - >
      curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}"
      --upload-file sausage-store-${VERSION}.tar.gz
      ${NEXUS_REPO_URL}/repository/${NEXUS_REPO_FRONTEND_NAME}/${VERSION}/sausage-store-${VERSION}.tar.gz

cache:
  paths:
    - ${CI_PROJECT_DIR}/.m2/repository # для хранения зависимостей бэкенда
    - .npm/ # для хранения зависимостей сборки фронтенда

controller modification because of sast
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: upload-backend-release

added environment
  backend/.gitlab-ci.yml
Due: upload-backend-release

added environment
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

added environment 2
  backend/1
  frontend/1
Due: upload-backend-release, upload-frontend-release

removed rules, only, added secret test
  backend/.gitlab-ci.yml
Due: upload-backend-release

added sast for front
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

some changes
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

front notification changes, changed ' to
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

front notification changes, changed ' to double quoutes
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

small changes
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

Update OrderController.java
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: upload-backend-release

changed to my nexus
  backend/Text File.txt
  frontend/Text File.txt
Due: upload-backend-release, upload-frontend-release

changes
  backend/.gitlab-ci.yml
  backend/Text File.txt
  frontend/Text File.txt
Due: upload-backend-release, upload-frontend-release

Cicd
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/back.service
  backend/deploy.sh
  backend/pom.xml
  backend/settings.xml
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/front.service
Due: upload-backend-release, upload-frontend-release

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: upload-backend-release

flyway
  backend/pom.xml
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: upload-backend-release

added flyway.conf
  backend/flyway.conf
  backend/src/test/resources/application.properties
Due: upload-backend-release

added flyway.conf
  backend/back.service
  backend/flyway.conf
Due: upload-backend-release

added flyway.conf
  backend/back.service
Due: upload-backend-release

changed unit file
  backend/back.service
  backend/deploy.sh
Due: upload-backend-release

changed unit file, deploy.sh, gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/back.service
  backend/deploy.sh
Due: upload-backend-release

changed unit file, deploy.sh, gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed unit file, deploy.sh, gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release

added if not exists for PSQL tables creation
  backend/src/main/resources/db/migration/V001__create_tables.sql
Due: upload-backend-release

added if not exists for PSQL tables creation
  backend/back.service
Due: upload-backend-release

Flyway
  backend/.gitlab-ci.yml
  backend/back.service
  backend/deploy.sh
  backend/flyway.conf
  backend/pom.xml
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
  backend/src/test/resources/application.properties
Due: upload-backend-release

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: upload-backend-release

init
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release

init
  backend/src/main/resources/application.properties
Due: upload-backend-release

init
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: upload-backend-release

init
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed report gen to every 5 minutes
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: upload-backend-release

changed report gen to every 5 minutes
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed deploy to add cert for DBs
  backend/deploy.sh
Due: upload-backend-release

env_file test
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release
