Repository prrpd/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload-backend-release, upload-frontend-release

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - 'mvn deploy -DskipTests -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION}
  
    '

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

changes for docker compose
  backend/pom.xml
Due: upload-backend-release

changes for docker compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

proxy
  backend/deploy.sh
  docker-compose.yml
  frontend/Dockerfile
  frontend/deploy.sh
  frontend/nginx.tmpl
Due: upload-backend-release, upload-frontend-release

blue-green
  backend/pom.xml
  frontend/Dockerfile
Due: upload-backend-release, upload-frontend-release

blue-green
  backend/back.service
  docker-compose.yml
  frontend/default.conf
  frontend/front.service
Due: upload-backend-release, upload-frontend-release

blue-green
  backend/.gitlab-ci.yml
Due: upload-backend-release

blue-green
  backend/.gitlab-ci.yml
  docker-compose.yml
Due: upload-backend-release

blue-green
  deploy-bg.sh
Due: none

blue-green
  backend/.gitlab-ci.yml
  backend/deploy-bg.sh
Due: upload-backend-release

blue-green
  backend/deploy-bg.sh
Due: upload-backend-release

blue-green
  backend/deploy-bg.sh
  docker-compose.yml
Due: upload-backend-release

blue-green
  backend/.gitlab-ci.yml
  backend/deploy-bg.sh
  docker-compose.yml
Due: upload-backend-release

blue-green
  .gitlab-ci.yml
  backend/deploy-bg.sh
Due: upload-backend-release

blue-green
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy-bg.sh
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

blue-green
  backend/deploy-bg.sh
  frontend/nginx.tmpl
Due: upload-backend-release, upload-frontend-release

Microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/app/app.py
  backend-report/app/requirements.txt
  backend/Dockerfile
  backend/back.service
  backend/deploy-bg.sh
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/deploy.sh
  frontend/front.service
  frontend/nginx.tmpl
Due: upload-backend-release, upload-frontend-release

changed docker file to nginx
  frontend/Dockerfile
Due: upload-frontend-release

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: upload-backend-release

changed spring version
  backend/pom.xml
Due: upload-backend-release

Path conditions:
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*
