Repository prrpd/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload-backend-release, upload-frontend-release

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - 'mvn deploy -DskipTests -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION}
  
    '

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

env_file test
  backend/.gitlab-ci.yml
Due: upload-backend-release

env_file test
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release

env_file test
  backend/src/test/resources/application.properties
Due: upload-backend-release

env_file test
  backend/deploy.sh
Due: upload-backend-release

Mongo
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: upload-backend-release

docker file
  .gitignore
  backend/Dockerfile
  frontend/Dockerfile
  frontend/default.conf
Due: upload-backend-release, upload-frontend-release

changed gitlabCI
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: upload-backend-release, upload-frontend-release

changed gitlabCI
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

changed gitlabCI
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed gitlabCI
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

changed gitlabCI
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: upload-frontend-release

changed gitlabCI
  frontend/deploy.sh
Due: upload-frontend-release

changed gitlabCI
  backend/deploy.sh
Due: upload-backend-release

changed Dockerfile
  backend/Dockerfile
  backend/deploy.sh
Due: upload-backend-release

changed Dockerfile
  backend/Dockerfile
Due: upload-backend-release

Docker
  .gitignore
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/deploy.sh
Due: upload-backend-release, upload-frontend-release

changed sausages pics urls
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: upload-backend-release

Revert "changed sausages pics urls"
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: upload-backend-release

changed sausages pics URLs
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: upload-backend-release

adding vault
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: upload-backend-release

adding vault
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

adding vault
  backend/.gitlab-ci.yml
Due: upload-backend-release

Path conditions:
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*
