Repository prrpd/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload-backend-release, upload-frontend-release

.gitlab-ci.yml:

---
stages:
  - build
  - test
  - notify
  - release

include:
  - 'backend/.gitlab-ci.yml'
  - 'frontend/.gitlab-ci.yml'

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/**/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - >
      mvn deploy -DskipTests
      -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
      -s settings.xml -Dversion.application=${VERSION}

upload-frontend-release:
  stage: release
  only:
    changes:
      - frontend/**/*
  needs:
    - build-frontend-code-job
  script:
    - cd frontend/dist
    - tar czvf sausage-store-${VERSION}.tar.gz frontend
    - >
      curl -v -u "${NEXUS_REPO_USER}:${NEXUS_REPO_PASS}"
      --upload-file sausage-store-${VERSION}.tar.gz
      ${NEXUS_REPO_URL}/repository/${NEXUS_REPO_FRONTEND_NAME}/${VERSION}/sausage-store-${VERSION}.tar.gz

cache:
  paths:
    - ${CI_PROJECT_DIR}/.m2/repository # для хранения зависимостей бэкенда
    - .npm/ # для хранения зависимостей сборки фронтенда

adding vault
  backend/.gitlab-ci.yml
Due: upload-backend-release

adding vault
  backend/src/main/resources/application.properties
Due: upload-backend-release

adding vault
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: upload-backend-release

adding vault
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release

adding vault
  backend/deploy.sh
Due: upload-backend-release

Vault
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: upload-backend-release

backend-report
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  docker-compose.yml
Due: none

backend-report
  backend-report/app.py
Due: none

backend-report
  backend-report/app/app.py
Due: none

backend-report
  backend-report/app/requirements.txt
Due: none

changed dockerfile
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
Due: none

changed nginx to a new backend name
  frontend/default.conf
Due: upload-frontend-release

changed Dockerfile
  backend-report/Dockerfile
Due: none

changes for docker compose
  backend-report/.gitlab-ci.yml
Due: none

changes for docker compose
  backend-report/Dockerfile
  backend/Dockerfile
  frontend/Dockerfile
Due: upload-backend-release, upload-frontend-release

changes for docker compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

changes for docker compose
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

changes for docker compose
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

changes for docker compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

changes for docker compose
  backend/src/main/resources/application.properties
Due: upload-backend-release

changes for docker compose
  backend/.gitlab-ci.yml
Due: upload-backend-release
