Repository prrpd/Sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: upload-backend-release, upload-frontend-release

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - 'mvn deploy -DskipTests -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -Dversion.application=${VERSION}
  
    '

upload-frontend-release:
  stage: release
  needs:
  - build-frontend-code-job
  script:
  - cd frontend/dist
  - tar czvf sausage-store-${VERSION}.tar.gz frontend
  ...

changed to Downstream Pipeline
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

commented sonar and TG jobs
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

changed curl upload path
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

formatted yaml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

formatted yaml
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

returned sonar
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed stages order
  backend/.gitlab-ci.yml
Due: upload-backend-release

returned TH notification
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed vars to rules
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed rules
  backend/.gitlab-ci.yml
Due: upload-backend-release

some changes
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: upload-backend-release, upload-frontend-release

some changes
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

added deploy to backend
  backend/.gitlab-ci.yml
Due: upload-backend-release

added SSH_KNOWN_HOSTS
  backend/.gitlab-ci.yml
Due: upload-backend-release

changed scrpit ssh
  backend/.gitlab-ci.yml
Due: upload-backend-release

ssh
  backend/.gitlab-ci.yml
Due: upload-backend-release

deploy script
  backend/.gitlab-ci.yml
Due: upload-backend-release

deploy script
  backend/back.service
  backend/deploy.sh
Due: upload-backend-release

deploy script
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: upload-backend-release

deploy script
  backend/pom.xml
Due: upload-backend-release

deploy script
  backend/deploy.sh
Due: upload-backend-release

front change
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/front.service
Due: upload-frontend-release

front change
  frontend/.gitlab-ci.yml
  frontend/front.service
Due: upload-frontend-release

front change
  frontend/.gitlab-ci.yml
Due: upload-frontend-release

added chown
  backend/deploy.sh
  frontend/deploy.sh
Due: upload-backend-release, upload-frontend-release

removed chown for front
  frontend/deploy.sh
Due: upload-frontend-release

moved chown back
  frontend/deploy.sh
Due: upload-frontend-release

changed back
  backend/.gitlab-ci.yml
Due: upload-backend-release

Path conditions:
  upload-backend-release: any of: backend/**/*
  upload-frontend-release: any of: frontend/**/*
